<section class="loginContainer">

<div class="screenBody">
<%= form_for(resource, as: resource_name, url: session_path(resource_name), class:"formContainer") do |f| %>
<%= render partial:"application/header", locals:{description:"LOGIN",btn_description:"Log in",f:f}%>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder:"Email" %>
    <%= f.password_field :password, autocomplete: "current-password", placeholder:"Password" %>
<% end %>
<div class="passwordForgotContainer">
<%= link_to "Forgot password ?",new_user_password_path%>
</div>
<div>
</section>