<section class="operationsContainer">
<header class="screenHeaderMenu">
<%= link_to root_path do%>
<i class="fa-solid fa-arrow-left"></i>
<%end%>
<h4><%="OPERATIONS"%></h4>
<i class="fa-solid fa-magnifying-glass"></i>
</header>

<div class="operations">
<% if @group_operations %>
<% if @group_operations.size>0 %>

<div class="operationsTotalContainer">
<h4>Total</h4>
<h4>$<%=@total%></h4>
</div>

<div class="itemsContainer">
<% @group_operations.each do |group_operation_item|%>
<%=render partial:"operations/operation", locals:{operation_item:group_operation_item}%>
<% end%>
</div>
<% else %>
<p>There is no operations! Please add it! </p>
<% end %>
<% else %>
<p>Ups! There is an Issue</p>
<% end %>
</div>

<div class="newOperationContainer">
<%= link_to  new_group_operation_path(group_id:params[:group_id]) do %>
<%=button_to "ADD NEW OPERATION"%>
<%end%>
</div>
</section>
